body {
    background-color: #FFFFFF; /* White */
    color: #333333; /* Dark Gray */
}

header, footer {
    background-color: #FFFFFF; /* White */
    border-bottom: 1px solid #E0E0E0; /* Subtle Gray */
}

nav ul li a {
    color: #1d314b; /* Light Blue */
}

nav ul li a:hover {
    color: rgb(13, 61, 120); /* Slightly darker blue */
}

#Presentation {
    background-color: #F9F9F9; /* Light Gray */
    color: #333333; /* Dark Gray */
}

#competence > div {
    background-color: #F9F9F9; /* Light Gray */
    color: #333333; /* Dark Gray */
}

.bar {
    background-color: #E0E0E0; /* Subtle Gray */
}

.bar-fill {
    background-color: #1d314b; /* Light Blue */
}

.stage, .project {
    background-color: #FFFFFF; /* White */
    border: 1px solid #E0E0E0; /* Subtle Gray */
    color: #333333; /* Dark Gray */
}

.stage h1, .project h1 {
    color: #1d314b; /* Light Blue */
}

footer {
    border-top: 1px solid #E0E0E0; /* Subtle Gray */
    color: #333333; /* Dark Gray */
}

footer a {
    color: #1d314b; /* Light Blue */
}

footer a:hover {
    color: #13345d; /* Slightly darker blue */
}
